@charset "UTF-8";

body {
    font: normal 1em Arial,Sans-Serif;
}
h1 {
    font: normal 2em 'Times New Roman',Serif;
    text-align: center;
}
h2 {
        font: normal 2em 'Times New Roman',Serif;

}
p {
    font: normal 1em Arial,Sans-Serif ;
    text-align: justify;
    text-indent: 40px;
}