@charset "UTF-*8";

body {
    background-color: rgb(158, 173, 243);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1 {
    color: mediumblue;
    background-color: rgb(105, 139, 250);
    text-align: center;
}
h2 {
    color: rgb(201, 95, 95);
}
p {
    text-align: justify;
}